{{define "title"}}Home{{end}} {{define "css"}}
<link rel="stylesheet" href="/static/css/style.css">{{end}} {{define "main"}}
<main>
    <article>
        <section class="hero" id="hero">
            <div class="my_container">

                <div class="hero-content">
                    <h1 class="h1 hero-title">Chimera - Cloud Image Server</h1>

                    <p class="hero-text">
                        A creative, user-friendly and secure platform dedicated for uploading images.
                    </p>

                    <p class="form-text">
                        <span>👾</span> Want to test our future projects? Write down your email and we will contact you!
                    </p>

                    <form action="" class="hero-form">
                        <input type="email" name="email" required placeholder="Enter Your Email" class="email-field">

                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>
                </div>

                <figure class="hero-banner">
                    <img src="/static/img/hero-banner.png" alt="Hero image">
                </figure>

            </div>
        </section>
        <section class="about">
            <div class="my_container">
                <div class="about-content">
                    <div class="about-icon">
                        <ion-icon name="cube"></ion-icon>
                    </div>

                    <h2 class="h2 about-title">Why Choose Us ?</h2>

                    <p class="about-text">
                        Although we are a young startup company with no entry accomplishments, we still have something to show you.
                    </p>

                    <button class="btn btn-outline">Learn More</button>

                </div>

                <ul class="about-list">

                    <li>
                        <div class="about-card">

                            <div class="card-icon">
                                <ion-icon name="thumbs-up"></ion-icon>
                            </div>

                            <h3 class="h3 card-title">Easy To Use</h3>

                            <p class="card-text">
                                Just login or register, and you're get to go!
                            </p>

                        </div>
                    </li>

                    <li>
                        <div class="about-card">

                            <div class="card-icon">
                                <ion-icon name="trending-up"></ion-icon>
                            </div>

                            <h3 class="h3 card-title">Growing Company</h3>

                            <p class="card-text">
                                We are growing by 3x a year. We expect a lot of new updates this term.
                            </p>

                        </div>
                    </li>

                    <li>
                        <div class="about-card">

                            <div class="card-icon">
                                <ion-icon name="shield-checkmark"></ion-icon>
                            </div>

                            <h3 class="h3 card-title">System Security</h3>

                            <p class="card-text">
                                We are responsible for your account safety, so you shouldn't expect hacking towards your profile.
                            </p>

                        </div>
                    </li>

                    <li>
                        <div class="about-card">

                            <div class="card-icon">
                                <ion-icon name="server"></ion-icon>
                            </div>

                            <h3 class="h3 card-title">Data Privacy</h3>

                            <p class="card-text">
                                We ensure that all your data is strongly encrypted, and only under your control.
                            </p>

                        </div>
                    </li>

                </ul>

            </div>
        </section>







        <section class="features" id="features">
            <div class="my_container">

                <h2 class="h2 section-title">Awesome Features</h2>

                <p class="section-text">
                    We have tons of features coming up next week. Starting from subdividing tasks and ending for implementing pomodoro sessions
                </p>

                <div class="features-wrapper">

                    <figure class="features-banner">
                        <img src="/static/img/features-img-1.png" alt="illustration art">
                    </figure>

                    <div class="features-content">

                        <p class="features-content-subtitle">
                            <ion-icon name="sparkles"></ion-icon>

                            <span>  </span>
                        </p>

                        <h3 class="features-content-title">
                            Create <strong>team</strong> & <strong>community</strong> with our platform of <strong>task-match goal</strong>
                        </h3>

                        <p class="features-content-text">
                            Organize and assign tasks. With lists, teams see immediately what they need to do, which tasks are a priority, and when work is due.
                        </p>

                        <ul class="features-list">

                            <li class="features-list-item">
                                <ion-icon name="layers-outline"></ion-icon>

                                <p>Systemize it with hand-on experience.</p>
                            </li>

                            <li class="features-list-item">
                                <ion-icon name="megaphone-outline"></ion-icon>

                                <p>Automatic notifications to email.</p>
                            </li>

                        </ul>

                        <div class="btn-group">
                            <button class="btn btn-primary">Read More</button>

                            <button class="btn btn-secondary">Buy Now</button>
                        </div>

                    </div>

                </div>

                <div class="features-wrapper">

                    <figure class="features-banner">
                        <img src="/static/img/features-img-2.png" alt="illustration art">
                    </figure>

                    <div class="features-content">

                        <p class="features-content-subtitle">
                            <ion-icon name="sparkles"></ion-icon>

                            <span>CREATIVE FEATURES</span>
                        </p>

                        <h3 class="features-content-title">
                            We do the work you in order you to <strong>stay focused</strong> on <strong>your daily tasks.</strong>
                        </h3>

                        <p class="features-content-text">
                            See how work maps out over time. Manage dependent, overlapping, and unscheduled tasks—and create plans your team can count on.
                        </p>

                        <ul class="features-list">

                            <li class="features-list-item">
                                <ion-icon name="rocket-outline"></ion-icon>

                                <p>High speed output results.</p>
                            </li>

                            <li class="features-list-item">
                                <ion-icon name="wifi-outline"></ion-icon>

                                <p>Autosave every 5 seconds</p>
                            </li>

                        </ul>

                        <div class="btn-group">
                            <button class="btn btn-primary">Read More</button>

                            <button class="btn btn-secondary">Buy Now</button>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <section class="blog" id="blog">
            <div class="my_container">

                <h2 class="h2 section-title">Latest News</h2>

                <p class="section-text">
                    Et harum quidem rerum facilis est et expedita distinctio nam libero tempore cum soluta nobis eligendi cumque.
                </p>

                <ul class="blog-list">

                    <li>
                        <div class="blog-card">

                            <figure class="blog-banner">
                                <img src="/static/img/blog-banner-1.jpg" alt="Best Traveling Place">
                            </figure>

                            <div class="blog-meta">

                                <span>
                    <ion-icon name="calendar-outline"></ion-icon>

                    <time datetime="2021-04-10">May 6  2020</time>
                  </span>

                                <span>
                    <ion-icon name="person-outline"></ion-icon>

                    <p>maxatic</p>
                  </span>

                            </div>

                            <h3 class="blog-title">How to stay focused?</h3>

                            <p class="blog-text">
                                We’ve all been there: sitting at your desk with an urgent deadline and a wandering mind. Despite your best efforts, things are not progressing. You need to focus on the task in front of you. You’re motivated to do it. But you just can't concentrate.
                            </p>

                            <a href="#" class="blog-link-btn">
                                <span>Learn More</span>

                                <ion-icon name="chevron-forward-outline"></ion-icon>
                            </a>

                        </div>
                    </li>

                    <li>
                        <div class="blog-card">

                            <figure class="blog-banner">
                                <img src="/static/img/blog-banner-2.jpg" alt="Charles">
                            </figure>

                            <div class="blog-meta">

                                <span>
                    <ion-icon name="calendar-outline"></ion-icon>

                    <time datetime="2021-04-10">May 12 2021</time>
                  </span>

                                <span>
                    <ion-icon name="person-outline"></ion-icon>

                    <p>Aliba</p>
                  </span>

                            </div>

                            <h3 class="blog-title">How to stay motivated for decades?</h3>

                            <p class="blog-text">
                                Most people want to change at least one thing in their life. But it can be challenging to find the motivation just to make a start. It helps if you understand what motivation means to you so you can find your own ways to get motivated.
                            </p>

                            <a href="#" class="blog-link-btn">
                                <span>Learn More</span>

                                <ion-icon name="chevron-forward-outline"></ion-icon>
                            </a>

                        </div>
                    </li>

                    <li>
                        <div class="blog-card">

                            <figure class="blog-banner">
                                <img src="/static/img/blog-banner-3.jpg" alt="Slash">
                            </figure>

                            <div class="blog-meta">

                                <span>
                    <ion-icon name="calendar-outline"></ion-icon>

                    <time datetime="2021-04-10">June 18 2022</time>
                    </span>

                                <span>
                    <ion-icon name="person-outline"></ion-icon>

                    <p>Slash</p>
                    </span>
                            </div>
                            <h3 class="blog-title">How to balance life with gaming routine?</h3>
                            <p class="blog-text">
                                As a dedicated gamer, chances are you might be spending a little more time around the table or in the virtual world fighting dragons and building empires than you do.
                            </p>
                            <a href="#" class="blog-link-btn">
                                <span>Learn More</span>
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="contact" id="contact">
            <div class="my_container">
                <h2 class="h2 section-title">Contact Us</h2>
                <p class="section-text">
                    Write us, don't hesitate to do so.
                </p>
                <div class="contact-wrapper">
                    <form action="" class="contact-form">
                        <div class="wrapper-flex">
                            <div class="input-wrapper">
                                <label for="name">Name*</label>
                                <input type="text" name="name" id="name" required placeholder="Enter Your Name" class="input-field">
                            </div>
                            <div class="input-wrapper">
                                <label for="emai">Email*</label>
                                <input type="text" name="email" id="email" required placeholder="Enter Your Email" class="input-field">
                            </div>
                        </div>
                        <label for="message">Message*</label>
                        <textarea name="message" id="message" required placeholder="Type Your Message" class="input-field"></textarea>
                        <button type="submit" class="btn btn-primary">
                <span>Send Message</span>
                <ion-icon name="paper-plane-outline"></ion-icon>
                </button>
                    </form>
                    <ul class="contact-list">
                        <li>
                            <a href="mailto:maxatic@maxatic.com" class="contact-link">
                                <ion-icon name="mail-outline"></ion-icon>
                                <span>: maxatic@maxatic.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="contact-link">
                                <ion-icon name="globe-outline"></ion-icon>
                                <span>: www.website.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="tel:+77715927248" class="contact-link">
                                <ion-icon name="call-outline"></ion-icon>
                                <span>: (+771) 592 7248 </span>
                            </a>
                        </li>
                        <li>
                            <div class="contact-link">
                                <ion-icon name="time-outline"></ion-icon>
                                <span>: 9:00 AM - 6:00 PM</span>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="contact-link">
                                <ion-icon name="location-outline"></ion-icon>
                                <address>: 23, Syganak street, NQZ 010000</address>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </article>
</main>
{{end}}