{{define "title"}}Register {{end}} {{define "css"}}
<link rel="stylesheet" href="/static/css/login_style.css">{{end}} {{define "main"}}

<body>
    <div class="login-box">
        <h2>Register</h2>
        <form action="/user/signup" method="POST">
            <div class="user-box">
                <input type="text" name="nickname" required="" value="{{.Form.Nickname}}"> <label>Nickname</label> {{with .Form.FieldErrors.nickname}}<label class='error'>{{.}}</label> {{end}}
            </div>
            <div class="user-box">
                <input type="email" name="email" required="" value="{{.Form.Email}}">
                <label>Email</label> {{with .Form.FieldErrors.email}}<label class='error'>{{.}}</label> {{end}}
            </div>
            <div class="user-box">
                <input type="password" name="password" required="" value="{{.Form.Password}}">
                <label>Password</label> {{with .Form.FieldErrors.password}}<label class='error'>{{.}}</label> {{end}}
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <script src="/static/js/script_login.js"></script>
</body>


{{end}}